.myframe
{
     position: relative !important;
     margin:5px;
     background-color: black;
     display: inline-block !important;
}
body{
  background-color:black;
  margin:0px !important;
}

#mymain_container
{
     position: fixed !important;
     white-space: nowrap !important;
     background-color:black;
     z-index: -10 !important;
}

-webkit-scrollbar {
    width: 2em;
    height: 2em
}
